parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - src/Resources/skeleton/*.tpl.php
    ignoreErrors:
        - '#Property .* is never assigned#'  # ignore warnings for auto-increment IDs
